*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.headd {
    display: flex;
    height: 150px;
    width: 100%;
}

footer {
    display: flex;
    height: 300px;
    margin-top: 50px;
    background-color: rgb(235, 235, 235);
}

footer ul li{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 300px;
    font-size: 30px;
}

.headd a.logo_img{
    display: flex;
    width: 350px;
    height: 150px;
    background-color: #A7FF36;
}

.logo {
    display: flex;
    width: 250px;
    height: 150px;
    margin-left: 40px;
}

.headd ul.button {
    list-style: none;
    display: flex;
    width: 800px;
    height: 75px;
    background-color: #CBFF89;
    justify-content: space-between;
    align-items: center;

}

.headd ul.button li a{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;

}

.headd ul.button li a img.img1{
    display: flex;
    padding-right: 10px;
}

.headd ul.autorization {
    list-style: none;
    display: flex;
    background-color: #a9ff3a;
    justify-content: flex-end;
    width: 150px;
    height: 75px;
    padding-inline-start: 0px;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
}

.headd ul.autorization li a img.img1{
    margin-left: 15px;
}

.headd ul.autorization li a img.img2{
    margin-right: 15px;
    
}

section.batton_ander_logo {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #CBFF89;
    width: 200px;
    height: 220px;
    align-items: center;
}

.bottam li {
    display: flex;
    margin-top: 11px;
    margin-bottom: 11px;
    min-height: 30px;
}

.aaa {
    display: flex;
    justify-content: flex-start;
}

.main_area {
    display: flex;
    background-color: #d8ffa5;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    flex-direction: row;
}

.main_area section.header_new_post {
    display: flex;
    width: 700px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    flex-direction: column;
}

.main_area section.header_new_post h1 {
    text-align: left;
    font-size: 40px;
}

.main_area section.header_new_post input.title {
    margin-top: 10px;
    width: 500px;
    font-size: 30px;
}

.main_area section.header_new_post textarea.Textarea {
    margin-top: 20px;
    width: 700px;
    height: 300px;
    font-size: 20px;
}

.main_area section.header_new_post input.button {
    margin-top: 20px;
    width: 130px;
    height: 40px;
    font-size: 20px;
}

.main_area section.header_new_post input.http_img {
    margin-top: 20px;
    font-size: 20px;
}

.main_area section.rules {
    display: flex;
    width: 600px;
    margin-left: 200px;  
    margin-top: 50px;
    flex-direction: column;
}

.main_area section.rules h1 {
    font-size: 40px;
    margin-left: 40px;
}

.main_area section.rules p {
    font-size: 20px;
}